@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');
:root{
   --dargreen:#02350e;
   --black:#0b0101;
  --lityy:#a2e09e;
   --whiteeee:#c3eec0;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--dargreen);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear; 
}

::-webkit-scrollbar{
   width: 1rem;
   height: .3rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--dargreen);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7.5rem;
}

body{
   background: var(--light-bg);
   overflow-x: hidden;
}


section{
   padding:2rem;
   margin:0 auto;
   max-width: 1200px;
}

.heading{
   text-align: center;
   margin-bottom: 2rem;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
}
box
.btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 2rem;
   color:var(--lityy);
   background-color: var(--dargreen);
   cursor: pointer;
   text-transform: capitalize;
   text-align: center; 
   
   
   font-family: inherit;
   
   outline: 0;
   

}

.text{
   opacity: 0.8;
}

.btn:hover{
   background-color:var(--black);
}

.header{
   position: fixed;
   top:0; left:0; right:0;
   background-color: var(--lityy);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
  
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
   width: 30%;
   height: 50px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.2rem;
   color:var(--black);
   font-weight: bold;
  
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--dargreen);
}

.header .flex .icons div{
   font-size: 2.5rem;
   color:var(--dargreen);
   cursor: pointer;
   margin-left: 1.7rem;
}

.header .flex .icons div:hover{
   color:var(--dargreen);
}
 
.header .flex .icons div span{
   font-size: 2rem;
}

#menu-btn{
   display: none;
}

.icons {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   gap: 5px;
}

.text{
    opacity: 0.8;
}

.title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}

.meal-wrapper{
   border: 5px, solid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background: var(--lityy);
    text-align: center;
}

.meal-search{
    margin: 2rem 0;
    border: 5px solid;
}

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    border: 5px solid;
}
.meal-search-box button
{display: flex;}
.search-control,
.search-btn{
    width:100%;
}


.search-control{
    padding: 0 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--lityy);
    color: var(--black);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
   }

.search-control::placeholder{
    color: var(--lityy);
}


.search-btn {
   display: flex; 
   justify-content: center; 
   align-items: center;
      width: 100px; 
   height: 50px; 
  
   border: none;
   border-radius: 0.25rem; 
   cursor: pointer;
}
.search-btn i {
   margin: 0; 
}
.search-btn:hover{
  background: var(--lityy);

  color: var(--light-bg);
  transform: scale(1); 
  border: none;
   
  
}


.meal-result{
    margin-top: 4rem;
    margin: 2rem 0;
    border: 5px solid;
}

#meal{
   justify-content: center;
   width: 100%;
   margin: 5rem 0;
}

.meal-img img{
    width: 100%;
    display: block;
    
}

.meal-name{
    padding: 1.5rem 0.5rem;
}

.meal-name h3{
    font-size: 1.4rem;
}

.recipe-btn {
   text-decoration: none;
   color: #000210;
   background: linear-gradient(90deg, rgb(117, 114, 114), rgb(140, 140, 140));
   font-weight: bold;
   font-size: 1.1rem;
   padding: 0.75rem 0;
   display: block;
   width: 175px;
   margin: 1rem auto;
   border-radius: 2rem;
   border: 2px solid transparent;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: all 0.4s linear;
}

.recipe-btn:hover {
   background: linear-gradient(90deg, rgb(180, 180, 180), rgb(220, 220, 220));
   color: #fff;
   border: 2px solid rgb(80, 80, 80);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
   transform: scale(1.05);
}

.meal-details {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #333; 
   background: var(--lityy); 
   border-radius: 1.5rem;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
   width: 80%;
   height: 80%;
   overflow-y: auto;
   padding: 3rem 1.5rem;
   transition: all 0.3s ease-in-out; 
   display: none;
}

.meal-details::-webkit-scrollbar {
   width: 8px;
}

.meal-details::-webkit-scrollbar-thumb {
   background: #ccc; 
   border-radius: 1rem; 
}


.meal-details.show {
   display: block;
  
   transform: translate(-50%, -50%) scale(1);
}

.meal-details.hide {
   opacity: 0;
   transform: translate(-50%, -50%) scale(0.95);
}



.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-weight: bold;
    color: #000000;
    font-size: 37px;
}

.recipe-category{
    
    font-weight: 600;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruct{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: #5c5c5c;
    font-size: 3.5rem;
    font-weight: 630;
    transition: all 0.4s linear;
}

.recipe-link a:hover{
    opacity: 0.8;
}


.notFound{
    grid-template-columns: 1fr!important;
    color: var(--black);
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
}


.api{
   position: fixed;
   top: 0;
   right: 100%; 
   width: 100vw; 
   z-index: 1100;
   background-color: var(--lityy);
   height: 100vh;
   overflow-y: auto; 
   transition: right 0.3s ease-in-out; 
}

.api.active {
   right: 0; 
}

.api #close-account {
   text-align: end; 
   margin-bottom: 2.5rem;
}

.api #close-account span{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--dargreen);
}

.api #close-account span:hover{
   color:var(--black);
}

.api .user{
   padding:1.5rem;
   text-align: center;
   background-color: var(--light-bg);
   border-radius: .5rem;
}

.api .user p{
   font-size: 2rem;
   color:var(--black);
}

.api .user p span{
   color:var(--dargreen);
}


.api .display-orders {
   padding: 3rem 2rem;
   text-align: center;
   background-color: var(--light-bg);
   border-radius: 0.5rem;
   margin: 2rem 0;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.api .display-orders p {
   padding: 1rem 2.5rem;
   font-size: 2rem;
   color: var(--light-color);
   background-color: var(--light-color); 
   border-radius: 0.5rem;
   box-shadow: var(--box-shadow);
}

.api .display-orders p span {
   color: var(--darkgreen); 
}


.api .flex{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   align-items: flex-start;
}

.api .flex form{
   flex:1 1 40rem;
   border-radius: .5rem;
   padding:2rem;
   background-color: var(--light-bg);
}

.api .flex form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   text-transform: uppercase;
   text-align: center;
   color:var(--black);
}

.api .flex form .box {
   width: 100%;
   margin: 1rem 0;
   border-radius: 0.5rem;
   background-color: var(--light-bg); 
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   box-shadow: var(--box-shadow); 
   border: 1px solid var(--border-color); 
}
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}



.user-cal{
   position: fixed;
   top:0; right:-110%;
   width: 100%;
   z-index: 1100;
   background-color: var(--lityy);
   height: 100vh;
   overflow-y: scroll;
}

.user-cal.active{
   right: 0;
}

.user-cal #close-cal{
   text-align: right;
   margin-bottom: 2.5rem;
}

.user-cal #close-cal i{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--dargreen);
   
}


.user-cal #close-cal i:hover{
   color:var(--black);
}





.container1 {
   background-color: var(--lityy);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   font-family: Arial, sans-serif;
   border: 5px, solid;
}

.user-cal .container1 p {
   text-align: center;
   margin-bottom: 20px;
   font-size: 2.6rem;
   font-weight: bold;
}

.input-group1 {
   margin-bottom: 15px;
   font-size: 2rem;
   border: 5px, solid;
   
}

label {
   display: block;
   font-size: 3rem;
   margin-bottom: 5px;
   font-weight: bold;
}

input, select {
   width: 100%;
   padding: 8px;
   border: 2px solid #ccc;
   border-radius: 5px;
   font-size: 3rem;

}

button {
   width: 100%;
   padding: 10px;
   background-color:red;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 2rem !important;
}

button:hover {
   background-color: #db0909;
}

#result {
   margin-top: 20px;
   text-align: center;
   font-size: 1.5rem;
   font-weight: bold;
}

.DOC{
   position: fixed;
   top:0; right:-110%;
   width: 35rem;
   z-index: 1100;
   background-color: var(--light-bg);
   border-left: var(--border);
   height: 100vh;
   overflow-y: scroll;
}

.DOC.active{
   right: 0;
}

.DOC #close-doc{
   text-align: right;
   margin-bottom: 2.5rem;
}

.DOC #close-doc span{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--dargreen);
   text-decoration: underline;
}

.DOC #close-doc span:hover{
   color:var(--black);
}

.DOC .title{
   text-align: center;
   margin-bottom: 1rem;
   color:var(--black);
   font-size: 3rem;
   text-transform: capitalize;
}

.DOC .box{
   background-color: var(--lityy);
   border-radius: .5rem;
   padding:1rem 2rem;
   box-shadow: var(--box-shadow);
   margin:1.5rem 0;
}

.DOC .box p{
   margin:1rem 0;
   font-size: 1.7rem;
   color:var(--light-color);
   line-height: 1.5;
}

.DOC .box p span{
   color:red;
   font-weight: bold;
}



@keyframes fadeLeft{
   0%{
      transform: translateX(5rem);
   }

}

@keyframes fadeRight{
   0%{
      transform: translateX(-5rem);
   }
}

.home-bg .home {
   margin-top: 12rem;
   display: flex;
   flex:1 1 40rem;
   animation: fadeRight .4s linear;
   width: 100%;
   
}

.home-bg .home.content{
   flex:1 1 40rem;
   text-align: center;
   animation: fadeLeft .4s linear;
}

.home-bg .home .content h3{
   color:var(--lityy);
   margin-bottom: 3rem;
   text-transform: capitalize;
   font-size: 7.5rem;
   text-shadow: var(--box-shadow);
   line-height: 1;
   text-align: center;
}
.menu .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.menu .box-container .box{
   background-color: var(--whiteeee);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   position: relative;
}

.menu .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.menu .box-container .box .CAL{
   background-color: var(--black);
   border-radius: .5rem;
   padding:.5rem 1rem;
   font-size: 1.7rem;
   color:var(--lityy);
   position:absolute;
   top:1rem; right:1rem;
}

.menu .box-container .box .code{
   background-color: var(--black);
   border-radius: .5rem;
   padding:.5rem 1rem;
   font-size: 1.7rem;
   color:var(--lityy);
   position:absolute;
   top:1rem; left:1rem;
}
.menu .box-container .box h3{
   font-size:2.5rem;
   font-weight: bold;
   color: #02350e;
   }

.menu .box-container .box .name{
   font-size: 2.5rem;
   color:var(--black);
   margin:.5rem 0;
   font-weight: bold;

}
.menu .box button{
background: linear-gradient(90deg, rgb(117, 114, 114), rgb(140, 140, 140));
}


.popover-body {
   font-size: 20px; 
 }
 
.order {
   
   align-items: center;
   
   background-color: var(--lityy);
   padding:2rem;
   border-radius: .5rem;
}

.order  .display-orders{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin-bottom: 2rem;
   gap:1.5rem;
   flex-wrap: wrap;
   padding:3rem 2rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
}

.order  .display-orders h1{
   font-size: 4rem;
   
   color:black;
   background-color: var(--lityy);
   padding:1rem 3rem;
   border-radius: .5rem;
   justify-content: center;
}
.order a{
   font-size: 2rem;
   border: 3px, solid !important;
   border-radius: 5px; 

    
}


.order  .display-orders ul
{padding-left: 20px;
   font-size: 2rem;
   }

.order.display-orders li
{
   margin-bottom: 10px;}
