@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');
:root{
   --red:#02350e;
   --black:#0b0101;
   --white:#a2e09e;
   --whiteeee:#c3eec0;
   --light-bg:#f5f5f5;
   --light-color:#070707;
   --border:.1rem solid var(--light-color);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear; 
}

::-webkit-scrollbar{
   width: 1rem;
   height: .3rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--red);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7.5rem;
}

body{
   background: var(--light-bg);
   overflow-x: hidden;
}


section{
   padding:2rem;
   margin:0 auto;
   max-width: 1200px;
}

.heading{
   text-align: center;
   margin-bottom: 2rem;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
}
box
.btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--red);
   cursor: pointer;
   text-transform: capitalize;
   text-align: center; 
   
   
   font-family: inherit;
   
   outline: 0;
   

}

.text{
   opacity: 0.8;
}

.btn:hover{
   background-color:var(--black);
}

.header{
   position: fixed;
   top:0; left:0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
  
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
   width: 30%;
   height: 50px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.2rem;
  color:var(--black);
  
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--red);
}

.header .flex .icons div{
   font-size: 2.5rem;
   color:var(--light-color);
   cursor: pointer;
   margin-left: 1.7rem;
}

.header .flex .icons div:hover{
   color:var(--red);
}
 
.header .flex .icons div span{
   font-size: 2rem;
}
.user-cal{
   position: fixed;
   top:0; right:-110%;
   width: 100%;
   z-index: 1100;
   background-color: var(--white);
   height: 100vh;
   overflow-y: scroll;
}

.user-cal.active{
   right: 0;
}

.user-cal #close-cal{
   text-align: right;
   margin-bottom: 2.5rem;
}

.user-cal #close-cal i{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--red);
   
}


.user-cal #close-cal i:hover{
   color:var(--black);
}





.container1 {
   background-color: #09cb40b7;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   font-family: Arial, sans-serif;
   border: 5px, solid;
}

.user-cal .container1 p {
   text-align: center;
   margin-bottom: 20px;
   font-size: 4rem;
   font-weight: bold;
}

.input-group1 {
   margin-bottom: 15px;
   font-size: 2rem;
   border: 5px, solid;
   
}

label {
   display: block;
   font-size: 3rem;
   margin-bottom: 5px;
   font-weight: bold;
}

input, select {
   width: 100%;
   padding: 8px;
   border: 2px solid #ccc;
   border-radius: 5px;
   font-size: 3rem;

}

button {
   width: 100%;
   padding: 10px;
   background-color:red;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 2rem !important;
}

button:hover {
   background-color: #db0909;
}

#result {
   margin-top: 20px;
   text-align: center;
   font-size: 1.5rem;
   font-weight: bold;
}

.DOC{
   position: fixed;
   top:0; right:-110%;
   width: 35rem;
   z-index: 1100;
   background-color: var(--light-bg);
   border-left: var(--border);
   height: 100vh;
   overflow-y: scroll;
}

.DOC.active{
   right: 0;
}

.DOC #close-doc{
   text-align: right;
   margin-bottom: 2.5rem;
}

.DOC #close-doc span{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--red);
   text-decoration: underline;
}

.DOC #close-doc span:hover{
   color:var(--black);
}

.DOC .title{
   text-align: center;
   margin-bottom: 1rem;
   color:var(--black);
   font-size: 3rem;
   text-transform: capitalize;
}

.DOC .box{
   background-color: var(--white);
   border-radius: .5rem;
   padding:1rem 2rem;
   box-shadow: var(--box-shadow);
   margin:1.5rem 0;
}

.DOC .box p{
   margin:1rem 0;
   font-size: 1.7rem;
   color:var(--light-color);
   line-height: 1.5;
}

.DOC .box p span{
   color:red;
   font-weight: bold;
}



@keyframes fadeLeft{
   0%{
      transform: translateX(5rem);
   }

}

@keyframes fadeRight{
   0%{
      transform: translateX(-5rem);
   }
}
.user-cal{
   position: fixed;
   top:0; right:-110%;
   width: 100%;
   z-index: 1100;
   background-color: var(--lityy);
   height: 100vh;
   overflow-y: scroll;
}

.user-cal.active{
   right: 0;
}

.user-cal #close-cal{
   text-align: right;
   margin-bottom: 2.5rem;
}

.user-cal #close-cal i{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--dargreen);
   
}


.user-cal #close-cal i:hover{
   color:var(--black);
}





.container1 {
   background-color: var(--lityy);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   font-family: Arial, sans-serif;
   border: 5px, solid;
}

.user-cal .container1 p {
   text-align: center;
   margin-bottom: 20px;
   font-size: 4rem;
   font-weight: bold;
}

.input-group1 {
   margin-bottom: 15px;
   font-size: 2rem;
   border: 5px, solid;
   
}

label {
   display: block;
   font-size: 3rem;
   margin-bottom: 5px;
   font-weight: bold;
}

input, select {
   width: 100%;
   padding: 8px;
   border: 2px solid #ccc;
   border-radius: 5px;
   font-size: 3rem;

}

button {
   width: 100%;
   padding: 10px;
   background-color:red;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 2rem !important;
}

button:hover {
   background-color: #db0909;
}

#result {
   margin-top: 20px;
   text-align: center;
   font-size: 1.5rem;
   font-weight: bold;
}

.DOC{
   position: fixed;
   top:0; right:-110%;
   width: 35rem;
   z-index: 1100;
   background-color: var(--light-bg);
   border-left: var(--border);
   height: 100vh;
   overflow-y: scroll;
}

.DOC.active{
   right: 0;
}

.DOC #close-doc{
   text-align: right;
   margin-bottom: 2.5rem;
}

.DOC #close-doc span{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--dargreen);
   text-decoration: underline;
}

.DOC #close-doc span:hover{
   color:var(--black);
}

.DOC .title{
   text-align: center;
   margin-bottom: 1rem;
   color:var(--black);
   font-size: 3rem;
   text-transform: capitalize;
}

.DOC .box{
   background-color: var(--lityy);
   border-radius: .5rem;
   padding:1rem 2rem;
   box-shadow: var(--box-shadow);
   margin:1.5rem 0;
}

.DOC .box p{
   margin:1rem 0;
   font-size: 1.7rem;
   color:var(--light-color);
   line-height: 1.5;
}

.DOC .box p span{
   color:red;
   font-weight: bold;
}
